*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing : border-box;
}

body{
	font-size: 20px;
	font-family: Arial; 

	

}



header{
	width: 80%;
		background-color: white;
	display: flex;
	margin:  -10px auto;
	flex-wrap: wrap;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	margin-left: 10%;
	
	
	
}
header .logo a img{

height: 150px;
margin: 0px auto;
padding: 4px;


}
header .logo{

	width: 25%;

	
}

header .contenido{

	width: 75%;

}

header .contenido nav li{
	display: inline-block;
}



header .contenido .redes{

padding: 15px 0px 0px 0px;
margin-bottom: 53px;
transition: all 0.5s;

text-align: right;


}
header .contenido .redes a{
margin: 0px 8px;
display: inline-block;
color: white;
font-size: 22px;
text-decoration: none;
transition: all 0.5s;
padding: 3.5px 6px;
background-color:  rgb(188, 25, 8);
border-radius: 3px;

}

header .contenido .redes a:hover{

background-color :  red;
	box-shadow: 3px 5px 5px grey;
	color: black;
	
	
}
header .contenido nav{
	float: right;
	margin-right: 1px;
	transition: all 0.5;

	
}
header .contenido nav ul li{
	
  margin: 0px 9px;
  padding: 2px;

}
header .contenido nav ul li a{
	color: rgb(188, 25, 8);
		font-family: 'Permanent Marker', cursive;
		font-size: 27px;
		text-decoration: none;
		transition: all 1s;
}
header .contenido nav ul li a:hover{
color: black;
}
header .contenido nav ul .menu {
	position: relative;
	display: inline-block;
	
	padding: 5px;
		
}

header .contenido nav ul .menu .submenu{
	position: absolute;
	display: none;
	margin-top: 5px;





}

header .contenido nav ul .menu .submenu li {
	padding: 10px 20px;
	background-color: white;
	margin-left: -17px;
	text-align: center;
	color: rgb(188, 25, 8);
	font-family: 'Permanent Marker', cursive;
	transition: all 1s;


}

header .contenido nav ul .menu .submenu li a{

	font-size: 20px;

}

header .contenido nav ul .menu .submenu li:hover{
	color: black;
}
header .contenido nav ul .menu .submenu .live{

	width: 100px;

}

header .contenido nav ul .menu .submenu .back{
	border-top: 1px solid black;
	width: 100px;
}

header .contenido nav ul .menu:hover .submenu{
	display: block;

}



.contenedor{
	width: 80%;
	margin: 10px auto;
	background-color: white;

}
.espacio{
	width: 100%;
	padding: 95px;
	
	background-color: white;
}
footer{
	width: 100%;
	padding: 70px;
	background: white;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;


}

footer .mail2{
	padding: 10px 10px 20px 30px;
	min-width: 400px;
}

footer .mail2 p{
	color: rgb(188, 25, 8);
	margin-bottom: 16px;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}

footer .mail2 input[type="email"]{

  width: 70%;
 padding: 15px 0px 15px 0px;
 background-color: white;
 border: 3px solid black;
 font-family: 'Fjalla One', sans-serif;
 font-size: 20px;
 text-align: center;
 margin-right: 10px;

}

 footer .mail2 input[type="submit"]{

width: 25%;
padding: 15px 0px 15px 0px;
background-color: white;
border: 3px solid black;
 font-family: 'Fjalla One', sans-serif;
 font-size: 20px;
 color: grey;
 cursor: pointer;
 transition: all 0.5s;

 }

 footer .mail2 input[type="submit"]:hover{
box-shadow: 8px 8px 5px grey;
color: black;



 }


footer .redes2{
    min-width: 400px;
	padding: 10px 30px 26px 88px;

}

footer .redes2 p{
	color: rgb(188, 25, 8);
	margin-bottom: 16px;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
    
}

footer .redes2 a{

	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 14px 20px 10px 20px;
	background-color: rgb(188, 25, 8);
	margin: 5px;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	transition: all 0.5s;

}

footer .redes2 a:hover{
	background-color: red;
	box-shadow: 3px 5px 5px grey;
	color: black;
}

.copy{
	width: 100%;
	padding: 20px;
	background-color: black;
	text-align: center;
	color: white;

}
.copy p{
	
	
	font-family: Arial;

	

}
