*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing : border-box;
}

body{
	font-size: 20px;
	font-family: Arial; 

	

}

.navbar{

	display: none;
}



header{
	width: 80%;
		background-color: white;
	display: flex;
	margin:  -10px auto;
	flex-wrap: wrap;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	margin-left: 10%;
	
	
}

header input{
	display: none;
}

header label{
	display: none;
}


header .logo a img{

height: 150px;
margin: 0px auto;
padding: 4px;


}
header .logo{

	width: 25%;

	
}

header .contenido{

	width: 75%;

}

header .contenido nav li{
	display: inline-block;
}



header .contenido .redes{

padding: 15px 0px 0px 0px;
margin-bottom: 53px;
transition: all 0.5s;

text-align: right;


}
header .contenido .redes a{
margin: 0px 8px;
display: inline-block;
color: white;
font-size: 22px;
text-decoration: none;
transition: all 0.5s;
padding: 3.5px 6px;
background-color:  rgb(188, 25, 8);
border-radius: 3px;

}

header .contenido .redes a:hover{

background-color :  red;
	box-shadow: 3px 5px 5px grey;
	color: black;
	
	
}
header .contenido nav{
	float: right;
	margin-right: 1px;
	transition: all 0.5;

	
}
header .contenido nav ul li{
	
  margin: 0px 9px;
  padding: 2px;

}
header .contenido nav ul li a{
	color: rgb(188, 25, 8);
		font-family: 'Permanent Marker', cursive;
		font-size: 27px;
		text-decoration: none;
		transition: all 1s;
}
header .contenido nav ul li a:hover{
color: black;
}
header .contenido nav ul .menu {
	position: relative;
	display: inline-block;
	
	padding: 5px;
		
}

header .contenido nav ul .menu .submenu{
	position: absolute;
	display: none;
	margin-top: 5px;





}

header .contenido nav ul .menu .submenu li {
	padding: 10px 20px;
	background-color: white;
	margin-left: -17px;
	text-align: center;
	color: rgb(188, 25, 8);
	font-family: 'Permanent Marker', cursive;
	transition: all 1s;


}

header .contenido nav ul .menu .submenu li a{

	font-size: 20px;

}

header .contenido nav ul .menu .submenu li:hover{
	color: black;
}
header .contenido nav ul .menu .submenu .live{

	width: 100px;

}

header .contenido nav ul .menu .submenu .back{
	border-top: 1px solid black;
	width: 100px;
}

header .contenido nav ul .menu:hover .submenu{
	display: block;

}

.responsive{
	display: none;
}

.contenedor{
	width: 79% !important;
	margin: 10px auto;
	background-color: white;

}
.espacio{
	width: 100%;
	padding: 95px;
	
	background-color: white;
}
.noticias{

	width: 100%;
	margin-top: -35px;
	background-color: black;
}

.noticias .container{

margin-left: -1.4%;
width: 102.8%;


}
.noticias .container .row .col-md-12 #slideshow1 .carousel-inner img{
	width: 100%;
	height: 500px;
	
}
.noticias .container .col-md-12{
	width: 100%;
}



.noticias .container  p{


margin-top: -250px;
font-size: 30px;
color: black;
opacity: 0.6;
padding: 10px 0px 10px 0px;
border-radius: 5px;
background-color: white;
margin-bottom: 50px;
	font-family: 'Oswald', sans-serif;


}

.noticias .container .leer{
	padding: 10px;
	background-color: rgb(188, 25, 8);
	font-size: 20px;
	color: black;
	text-decoration: none;
	border-radius: 10px;
	font-family: 'Permanent Marker', cursive;
	transition: all 1.5s ease;


}
.noticias .container a{
	color: red;
	 font-family: 'Permanent Marker', cursive;

}

.noticias .container .leer:hover{

	background-color: black;
	color: rgb(188, 25, 8);

}


.tour{
	
	width: 100%;
	overflow: hidden;
	padding: 5px 50px 50px 10px;
	margin-bottom: 35px;

}

.tour   .titulo{
	
    font-family: 'Permanent Marker', cursive;
    color: rgb(188, 25, 8);
    font-size: 150px;
    z-index: -2;
}

.tour p{

margin-top: -90px;
font-size: 50px;
font-weight: bolder;
font-family: 'Oswald', sans-serif;
margin-bottom: 70px;
}

.tour div{

text-align: center;
}
.tour div a{
	text-decoration: none;
	padding: 5px;
	color: black;
	border: 2px solid black;
	font-family: 'Oswald', sans-serif;
	transition: all 1s;

}

.tour div a:hover{

	color: white;
	background-color: black;
}





 .fotos{

	width: 100%;
	margin-bottom: 0px;

	overflow: hidden;
	background-color: rgb(188, 25, 8);

}

.fotos .uno{

	width: 50%;
	
	background-image: url(../img/produccion.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 235px 0px;
	float: right;
	text-align: center;
	opacity: 0.7;
	transition: all 1s ease;

}

.fotos .dos{
	width: 50%;
	background-image: url(../img/live.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 235px 0px;
	float: left;
	text-align: center;
	opacity: 0.7;
	transition: all 1s ease;
}

.fotos .uno a{
	text-decoration: none;
	color: white;
	  font-family: 'Permanent Marker', cursive;
	  font-size: 35px;
	  padding: 15px;
	  display: inline-block;
	  border:  3px solid white;
	  cursor: pointer;
}
.fotos .dos a {
	text-decoration: none;
	color: white;
	  font-family: 'Permanent Marker', cursive;
	  font-size: 35px;
	  padding: 15px;
	  display: inline-block;
	  border:  3px solid white;
	  cursor: pointer;


	}

	.fotos .uno:hover{
		opacity: 1;
	}
	.fotos .dos:hover{
		opacity: 1;
	}

.merch{

	width: 100%;
	background-image: url('../img/shop3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: -100px 0px;
	overflow: hidden;
	text-align: center;
	margin-top: -1px;
	
	


}




 .merch  h1{

 

 color: white;
 margin: auto;
 display: inline-block;
 padding: 10px;
 border: 5px solid white;
 margin: 230px;
font-family: 'Permanent Marker', cursive;
cursor: pointer;
transition: all 1s ease;

}
.merch h1:hover{
color : red;
}
.merch h1:hover{
	border-color: red;
}
.video{
	width: 100%;
	background-image: url(../img/textura.jpg);
	background-repeat: repeat;
	text-align: center;
	 font-family: 'Permanent Marker', cursive;
	overflow: hidden;
	background-color: yellow;
}

.video img{

	width: 690px;
	height: 430px;

	margin-left: -120px;
	margin-top: -240px;
	
	


}
.video p{
	font-size: 80px;
	color: rgb(188, 25, 8);
    margin-top: 40px;


	

 

}
.video iframe{
	margin-top: 50px;
}



footer{
	width: 100%;
	padding: 70px;
	background: white;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;


}

footer .mail2{
	padding: 10px 10px 20px 30px;
	min-width: 400px;
}

footer .mail2 p{
	color: rgb(188, 25, 8);
	margin-bottom: 16px;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}

footer .mail2 input[type="email"]{

  width: 70%;
 padding: 15px 0px 15px 0px;
 background-color: white;
 border: 3px solid black;
 font-family: 'Fjalla One', sans-serif;
 font-size: 20px;
 text-align: center;
 margin-right: 10px;

}

 footer .mail2 input[type="submit"]{

width: 25%;
padding: 15px 0px 15px 0px;
background-color: white;
border: 3px solid black;
 font-family: 'Fjalla One', sans-serif;
 font-size: 20px;
 color: grey;
 cursor: pointer;
 transition: all 0.5s;

 }

 footer .mail2 input[type="submit"]:hover{
box-shadow: 8px 8px 5px grey;
color: black;



 }


footer .redes2{
 	
	padding: 10px 30px 26px 38px;
	

}

footer .redes2 p{
	color: rgb(188, 25, 8);
	margin-bottom: 16px;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
    
}

footer .redes2 a{

	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 14px 20px 10px 20px;
	background-color: rgb(188, 25, 8);
	margin: 5px;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	transition: all 0.5s;

}

footer .redes2 a:hover{
	background-color: red;
	box-shadow: 3px 5px 5px grey;
	color: black;
}

.copy{
	width: 100%;
	padding: 20px;
	background-color: black;
	text-align: center;
	color: white;

}
.copy p{
	
	
	font-family: Arial;

	

}


@media screen   and (max-width:1250px) {

.video img{
	display: none;
}
.video iframe{
	width: 80%;
	height: 350px;
	margin-top: 10px;


}


}






 @media only screen and (max-width: 840px)  { 

 
 	.espacio{
 		background-color: red;
 		padding: 65px;
 		width: 100%;
 	}
 

 	.navbar .navbar-header .navbar-brand{
		
		color: rgb(188, 25, 8);
		font-family: 'Permanent Marker', cursive;
		font-size: 25px;

 	}

 	header .contenido nav ul li a{
 		font-size: 20px;
 	}

	header .logo a img{
		height: 130px;
	}
 	.contenedor{

 		width: 80%;

 	}
 	.noticias{

 		width: 95%;
 		height: 400px;
 		margin: auto;
 	}

	.noticias .container .carousel-inner{
		height: 400px;

	}
	.noticias .container .row .col-md-12 #slideshow1 .carousel-inner img{
		
		width: 100%;
		height: 400px;

	}
	.noticias .container{

margin-left: -4.6%;
width: 109%;


}

.noticias .container .carousel-indicators{
 display: none;
}

.noticias .container  p{


margin-top: -150px;
font-size: 15px;
color: black;
opacity: 0.6;
padding: 10px 0px 10px 0px;
border-radius: 5px;
background-color: white;
margin-bottom: 20px;
	font-family: 'Oswald', sans-serif;


}

.noticias .container .leer{
	padding: 10px;
	background-color: rgb(188, 25, 8);
	font-size: 10px;
	color: black;
	text-decoration: none;
	border-radius: 10px;
	font-family: 'Permanent Marker', cursive;
	transition: all 1.5s ease;


}
.noticias .container a{
	color: red;
	 font-family: 'Permanent Marker', cursive;

}



.tour{

	padding: 30px;
}

.tour   .titulo{
	
    font-family: 'Permanent Marker', cursive;
    color: rgb(188, 25, 8);
    font-size: 80px;
    z-index: -2;
}

.tour p{

margin-top: -90px;
font-size: 30px;
font-weight: bolder;
font-family: 'Oswald', sans-serif;
margin-bottom: 40px;
}

.tour div{

text-align: center;
}


.merch{

	width: 100%;
	background-image: url('../img/shop3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 180px 0px;
	height: 405px;
	overflow: hidden;
	text-align: center;
	margin-top: -1px;
	

}


 .merch  h1{

 
 color: white;
 
 display: inline-block;
 padding: 10px;
 border: 5px solid white;
 margin: -12%;
font-family: 'Permanent Marker', cursive;
cursor: pointer;
transition: all 1s ease;


}

.video{
	width: 100%;
	background-image: url(../img/textura.jpg);
	background-repeat: repeat;
	text-align: center;
	 font-family: 'Permanent Marker', cursive;
	overflow: hidden;
	background-color: yellow;
}

.video img{

	display: none;


}
.video p{
	font-size: 40px;
	color: rgb(188, 25, 8);
    margin-top: 40px;
    margin-bottom: 50px;


	

 

}
.video iframe{
	width: 80%;
	height: 200px;
	margin-bottom: 80px;
}


.fotos{

	width: 100%;
	margin-bottom: 0px;

	overflow: hidden;
	background-color: rgb(188, 25, 8);

}

.fotos .uno{

	width: 50%;
	
	background-image: url(../img/produccion.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 135px 0px;
	float: right;
	text-align: center;
	opacity: 0.7;
	transition: all 1s ease;

}

.fotos .dos{
	width: 50%;
	background-image: url(../img/live.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 135px 0px;
	float: left;
	text-align: center;
	opacity: 0.7;
	transition: all 1s ease;
}

.fotos .uno a{
	text-decoration: none;
	color: white;
	  font-family: 'Permanent Marker', cursive;
	  font-size: 25px;
	  padding: 15px;
	  display: inline-block;
	  border:  3px solid white;
	  cursor: pointer;
}
.fotos .dos a {
	text-decoration: none;
	color: white;
	  font-family: 'Permanent Marker', cursive;
	  font-size: 25px;
	  padding: 15px;
	  display: inline-block;
	  border:  3px solid white;
	  cursor: pointer;


	}

	footer{
		width: 100%;
	}

	footer .mail2{
		display: none;
	}

	footer .redes2{
    width: 100%;
	padding: 10px 96px 26px 96px;
	

}

footer .redes2 p{
	color: rgb(188, 25, 8);
	margin-bottom: 16px;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	text-align: center;
    
}

footer .redes2 a{

	text-decoration: none;
	color: white;
	font-size: 20px;
	
	background-color: rgb(188, 25, 8);
	text-align: center;
	border-radius: 2px;
	
	transition: all 0.5s;
	width: 100%;


}

.copy{
	margin-top: -40px;
}
.copy h5 {
	font-size: 10px;

}


} 



 

     
    
 @media only screen and (max-width: 766px)  { 

	header{
		display: none;
	}

	 .espacio{
 	
 		padding: 25px;
 	}
 	.noticias{
 		width: 100%;
 	}


 	.navbar{
 		display: block;
		position: fixed;
		width: 100%;
		padding: 5px;
		z-index: 10;
		margin-top: -10px;
 	}



 	.navbar .navbar-header .navbar-brand{
		
		color: rgb(188, 25, 8);
		font-family: 'Permanent Marker', cursive;
		font-size: 25px;

 	}

	.contenedor{
		width: 100%;
	}

	footer{
		width: 100%;
	}



	footer .mail2{
		display: none;
	}

	footer .redes2{
    width: 100%;
	padding: 10px 33px 26px 28px;
	

}

footer .redes2 p{
	color: rgb(188, 25, 8);
	margin-bottom: 16px;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	text-align: center;
    
}

footer .redes2 a{

	text-decoration: none;
	color: white;
	font-size: 25px;
	
	background-color: rgb(188, 25, 8);
	text-align: center;
	border-radius: 2px;
	
	transition: all 0.5s;
	width: 100%;


}

.copy{
	margin-top: -40px;
}
.copy h5 {
	font-size: 15px;

}


.noticias .container .carousel-indicators{

z-index: 2;

}

} 
  }
     
 
